SCRAPERAPI_KEY1=some_key_123
SCRAPINGANT_KEY1=some_other_key_123
SCRAPINGANT_KEY2=some_other_key_123
MYSQL_HOST='some_host'
MYSQL_USER='some_user'
MYSQL_PASSWD='some_passwd'
MYSQL_DB_NAME='some_db_name'